*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.des-card{
    border: 2px solid black;
    border-radius: 10px;
    display: inline-flex;
    margin: 40px;
    width: auto;
    overflow: hidden;
}
.photo{
    height: 170px;
    width: 200px;
    border-radius: 10px;
    overflow: hidden;
}
.photo img{
    scale: 1.8;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.container{
    display: inline-flex;
    gap: 183px;
    white-space: nowrap;
    padding: 20px;
}
.icons{
    /* padding: 6px; */
    
}
.icons .fa-bookmark{
    margin: 0px 6px;
}
.row2{
    padding: 20px 20px;
    display: flex;
    gap: 65px;
    align-items: center;
}
.row2-desc{
    width: fit-content;
    text-align: center;
}


@media(max-width:700px){
    .des-card{
        border: 2px solid black;
        border-radius: 10px;
        margin: 40px;
        width: auto;
        overflow: hidden;
    }
    .photo{
        height: 170px;
        width: 200px;
        border-radius: 10px;
        overflow: hidden;
    }
    .photo img{
        scale: 1.8;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    .container{
        gap: 183px;
        white-space: nowrap;
        padding: 20px;
    }
    .row2{
        padding: 20px 20px;
        display: flex;
        gap: 65px;
        align-items: center;
    }
    .row2-desc{
        width: fit-content;
        text-align: center;
    }
}

