*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: sans-serif;
}
:root{
    --border-color:#E4E4E7;
}
.main{
    margin: 30px 70px;
    /* border: 1px solid red; */
    text-align: center;
}
.navigation{
    display:inline-flex;
    gap: 10px;
    /* border: 1px solid black; */
    padding: 5px;
    /* position: absolute;
    left: 50%;
    transform: translate(-50%); */
    width: 100%;
    border: 1px solid red;
    justify-content: center;
    align-items: center;
    
}
.nav-links{
    display: flex;
}
.links{
    padding-top: 3px;
}
.logo{
    width: fit-content;
    height: fit-content;
    /* border: 2px solid red; */
    /* margin-right: 40px; */

}
.logo img{
    width: 160px;
    height: 28px;
}
/* .links a{
    text-decoration: none;
    list-style-type: none;
} */
/* .links a:hover{
    border: 1px solid #E7EAEE;
} */
/* .links ul li{
    display: inline-flex;
    margin-left: 20px;
    /* border: 1px solid red; 
}*/
.links button{
    background-color: white;
    color: #818A9B;
    border: 1px solid white;
    padding: 6px 16px;
    font-size: 15px;
    margin-right: 12px;
    
}
.links button:hover{
    border: 1px solid #E7EAEE;
    border-radius: 6px;
}
.login-button{
    background-color: white;
    color: #818A9B;
    border: 1px solid #E7EAEE;
    padding: 8px 20px;
    font-size: 15px;
    margin-right: 16px;
    border-radius: 6px;
    margin-left: 40px;
}
.login-button:hover{
    background: black;
    color: white;
    transition: 0.3s;
}
.start-button{
    background-color: #1355FF;
    color: white;
    border: none;
    padding: 8px 20px;
    font-size: 15px;
    border-radius: 6px;

}
.start-button:hover{
    background-color: #0d40c0;
    transition: 0.3s;
}
.body-text{
    margin: 300px;
}
.body-center{
    position: absolute;

    left: 50%;
    border: 1px solid red;
    transform: translate(-50%);
}

/* -------------login page----------- */
.size{
    position: relative;
    width: 100%;
    height: 660px;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
    
    
}
.body-page{
    margin: 20px;
    text-align: center;
    /* border: 1px solid red; */
    

}
fieldset{
    border: hidden;
    border-top: 2px solid var(--border-color);
    text-align: left;
}
.alternate-option{
    display: inline-flex;
    gap: 24px;
}
.login-main{
    display: none;
    width: fit-content;
    padding: 24px;
    border: 1px solid var(--border-color);
    border-radius: 6px;    
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: 200ms ease-in-out;
    z-index: 10;
    background-color: #fff;
}
/* .login-main.active{
    transform: translate(-50%,-50%) scale(1);
} */
.text{
    text-align: left;
    margin-bottom: 24px;
}
.alternate-option a{
    text-decoration: none;
    border: 1px solid var(--border-color);
    padding: 8px 48px;
    border-radius: 6px;
    color: black;
    margin-bottom: 16px;
}
.text p{
    color: #71717A;
}

legend{
    text-align: center;
    margin-bottom: 10px;
    color: #71717A;
    font-size: 14px;
}
input {
    padding: 13px;
    border-radius: 6px;
    margin-bottom: 16px;
    width: 100%;
}
.submit-button{
    margin-bottom: 0px;
    background-color: black;
    color: #fff;
    font-size: 16px;
}
.submit-button:hover{
    background-color: rgba(0,0,0,0.7);
    cursor: pointer;
    transition: .5s;
}
#overlay{
    position: fixed;
    opacity: 1;
    background-color: rgba(0,0,0,0.6);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;

}

.cross-add{
    display:flex;
    gap: 38%;
}
.cross-add i{
    font-size: 24px;
}
.cross-add a{
    text-decoration: none;
    color: #000;
}
.logo i{
    display: none;
}


@media(max-width:1228px){
    .navigation.logo{
        position: fixed;
    }
   .link{
    margin-left: auto;
    display: block;
    border: 1px solid red;
   }
   .login{
    display: flex;
    flex-direction: column;
    text-align: right;
    width: fit-content;
    margin-left: auto;
   }
   .login button{
    margin-bottom: 10px;
    margin-right: 20px;
   }
   
   .body-text img{
       /* overflow: hidden; */
   }
   .navigation{
    display: block;
    gap: 100%;
   }
   .link{
    display: block;
   }

   .nav-links{
    display: none;
    display: flex;
    flex-direction: column;
    border: 3px solid black;
    position: fixed;
    top: 0;
    right:-650px;
    height: 100vh;
    padding-top: 100px;
    width: 50vw;
    background-color: gray;
    z-index: 1;
    transition: 0.5s;
   }
   .links button{
    border: none;
    background-color: gray;
    /* border: 1px solid red; */
    color: white;
    margin-bottom: 10px;
    
   }
   .links button:hover{
    border: 1px solid var(--border-color);

   }
   .logo{
    display: flex;
   }
   nav{
    position: relative;
    border: 1px solid red;
   }
   .logo i{
    font-size: 30px;
    display: block;
    position: absolute;
    left: 90%;
   }
   .body-center{
    width: fit-content;
   }
   .body-text{
    margin: 12px;

    }
    .main{
        margin: 30px;
    }
    .body-text{
        margin-top: 300px;
    }
    .links i{
        font-size: 30px;
        position:absolute ;
        left: 10%;
        top: 5%;
        border: 1px solid red;
    }
    .links a{
        margin-right: auto;
    }

}
