*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    height: 100vh;
    width: 100%;
    
}
.container .overlay{
    background: linear-gradient(225deg, #5596FF 0%, #AC2DEB);
    height: 50%;
    width: 100%;
    object-position: center;
    object-fit: cover;
    position: relative;
    z-index: 1;
    opacity: .6;

}
.container .background{
    position:absolute;
    height: 50%;
    width: 100%;
    object-position: center;
    object-fit: cover;
    top: 0;
    right: 0;
}
.todo-task h1{
    color: #fff;
    margin-bottom: 48px;
    font-weight: bold;
    
}
.todo-task{
    z-index: 1;
    height: fit-content;
    width: fit-content;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%,0);
    /* border: 1px solid red; */
    
}
.todo-add-task{
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    background-color: #fff;
    align-items: center;
    padding-left: 30px; 
    margin-bottom: 24px;
}
.todo-add-task input{
    flex: 1;
    font-size: 20px;
    outline: none;
    border: none;
    background: transparent;
    padding: 10px;
}
.todo-add-task button{
    padding: 15px 30px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: #37D8FF;
    font-size: 16px;
}
.todo-add-task button:hover{
    background-color: rgba(0, 0, 0, 0.5);
    color: white;

}

ul{
    /* background: white; */
    width: 100%;
    height: fit-content;
}
ul li{

    padding: 15px 10px 15px 60px;
    border-bottom: 2px solid #E3E4F1;
    text-decoration: none;
    list-style-type: none;
    position: relative;
    color: #494C6B;
    font-size: 20px;
    cursor: pointer;

}

ul li::before{
    position: absolute;
    content: '';
    height: 25px;
    width: 25px;
    background: url(/img/unchecked.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    left: 20px;
    top: 50%;
    transform: translate(0,-50%);
}
ul li.checked{
    text-decoration: line-through;
    color: #D1D2DA;
}
ul li.checked::before{
    background: url(/img/checked.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


.list-wrapper .foot{
    background-color: transparent;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    padding: 10px;
    /* position: absolute; */
    width: 100%;
    top: 100%;
}
.status{
    display: flex;
    gap: 19px;
}
.list-wrapper{
    border: 1px solid red;
    background: white;
}
ul li{
    position: relative;
}
ul li span{
    position: absolute;
    top:50%;
    right: 10px;
    transform: translate(0,-50%);
    font-size: 30px;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    text-align: center;
    color: black;
}
ul li span:hover{
    background-color: #E3E4F1;
    color: red;
}
@media(max-width:700px){

    .container .overlay{
        height: 30%;
    }
    .container .background{
        height: 30%;
    }
    .todo-task{
        top: 5%;
    }
    .todo-add-task #input-box{
        font-size: 14px;

    }
    .status{
        gap:6px;
    }
}
@media(min-width:2000px){
    .todo-add-task button{
        padding: 18px 70px;
        font-size: 36px;
    }

    .todo-task{
        font-size: 40px;
        top: 25%;
    }
    .todo-add-task input{
        font-size: 50px;
    }
    .list-wrapper .foot{
        font-size: 24px;
    }
}